@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

html{
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    background-color: #fff;
    color: #000;
    box-sizing: border-box;
}

.main-container{
    flex-grow: 1;
}

a,
.subscribe-button{
    text-decoration: none;
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
} 

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.sub-menu,
.basket-modal-window {
    display: none;
}

.site-navigation > li:hover .sub-menu {
    display: block;
    position: absolute;
}
/*---------------HEADER--------------------------------------------*/

.user-menu-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 1075px;
    margin-bottom: 29px;
}



ul.user-menu{
    display: flex;
    align-items:center;
    padding:0;
    margin:0;
}

.ent{
    min-width:240px;
    margin-right:15px;
}

.comp{
    min-width:130px;
}

.bask{
    min-width:135px;
}

.navigation{
    width: 1040px;
}

.site-navigation{
    display: flex;
    flex-wrap: wrap;
    padding-left:0;
}

.header-wrapper{
    width:1075px;
    margin-left:60px;
    margin-right: 25px;
}


.main-header {
    margin:0 auto;
    margin-top: 40px;
    height: 300px;
    background-color: #FFE17F;
}

.user-menu{
    font-size: 16px;
    line-height: 19px;
    color: #000;
}

.site-navigation {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}

.enter,
.compare,
.basket {
    position: relative;
    text-transform: none;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 19px;
    padding: 10px;
}

.enter{
    width: 245px;
    padding-left: 46px;
}

.compare{
    width:136px;
    padding-left: 35px;
}

.basket{
    width:136px;
    padding-left: 44px;
    border-radius: 20px;
}

.enter::before {
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 15px;
    background: url("../img/user.svg") no-repeat center;
}

.compare::before {
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 15px;
    background: url("../img/compare.svg") no-repeat center;
}

.basket::before {
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 15px;
    background: url("../img/cart.svg") no-repeat center;
}

.form{
    align-self: center;
}

input[type="search"] {
    padding-left: 52px;
    border:none;
    background-image:none;
    background-color:transparent;
    box-shadow: none;
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: 5px;
    width: 516px;
    padding:10px;
    padding-left: 40px;
    border-radius: 20px;
    margin-right: 15px;
}


.navigation-link.exit{
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-transform: none;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3)
}


/*---------------------SLIDER----------------------------------------------*/
section.slider{
    margin: 0 auto;
    width: 1160px;
}

.slider-image-wrapper{
    width:560px;
    height:560px;
}

.phrase{
    min-height:110px;
    padding:0;
    margin:0;
    margin-bottom:19px;
}

.pharse-about{
    min-height:80px;
    margin:0;
    margin-bottom: 30px;
}

.slider-buttons{
    display:flex;
    justify-content: space-between;
    margin-bottom: 70px;
}


.ellipse.active{
    background-color:#000;
}

.ellipse-wrapper{
    display:flex;
    width: 80px;
    justify-content: space-between;
}

.ellipse{
    width:12px;
    height:12px;
    border: 2px solid #000000;
    border-radius: 50%;
}

.slider-pagination-item{
    display:flex;
}

.slider .phrase {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
}

.table-first td{
    font-size: 36px;
    font-weight: 400;
}

.table-first th{
    font-size: 16px;
    font-weight: 400;
}
/*------------------------------CATALOG-ITEMS-------------------------------------*/


.catalog-items h3{
    font-size: 18px;
    line-height: 24px;
    text-transform: none;
}

.navigation-item-cat{
    width: 236px;
    margin-right:304px;
}

.navigation-item-del{
    width:140px;
    margin-right:19px;
}

.navigation-item-har{
    width: 140px;
    margin-right: 62px;
}

.catalog-items-list{
    padding: 0;
}

.catalog-items-list img {
    background-color:#FFE17F;
}
.catalog-items-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.catalog-items-wrapper {
    width: 1160px;
    margin: 0 auto;
}

.catalog-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 70px;
}
/*---------------------------------------ADVANTAGES LIST--------------------------------*/
.advantages-list h3{
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
}

.modal-delivery a{
    font-size: 24px;
    display:block;
    padding-top: 37px;
    padding-bottom: 43px;
}

.modal-delivery{
    position: relative; 
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 90px;
    background-color: #F0F0F0;
    height: 100px;
    text-align: center;
}


.modal-delivery::before {
    content: " ";
    background: url("../img/Group.svg") no-repeat center;
    background-color: #FFE17F;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0;
}

.modal-delivery::after {
    content: " ";
    position: absolute;
    background: url("../img/info1.png") no-repeat center;
    width: 100px;
    height: 100px;
    right: 0;
    top: 0;
}

.wrapper-advantages-list {
    width: 1160px;
    margin: 0 auto;
}

.tabs-of-advantages{
    width: 170px;
    border-right: 7px solid #000;
    margin-right: 116px;
}

.list-of-advantages{
    margin:0;
    padding:0;
}

.list-of-advantages li{
    margin-bottom:34px;
    padding-top:10px;
    padding-bottom:10px;
}

.adv-list-wrapper{
    display:flex;
    margin-bottom: 90px;
}

.delivery {
    width: 500px;
} 

#delivery{
    position:relative;
}

#delivery::after{
    content: " ";
    position:absolute;
    width:260px;
    height: 240px;
    background: url("../img/illustration-delivery1.png") no-repeat center;
    top:10px;
    right:-400px;
}

/*------------------------------------ABOUT AND CONTACTS-----------------------------*/
.about-and-contacs h2{
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
}

.about-us, 
.contacts {
    width: 560px;
    height: 562px;
}

.about-us{
    margin-right: 40px;
}

.rect-blak{
    width: 80px;
    height: 7px;
    background-color: #000;
    margin-bottom: 42px;
}

.about-us-info-wrapper{
    height: 202px;
}

.about-us h2{
    margin-bottom: 42px;
}

.working-time{
    margin-bottom: 50px;
}

.transport-companies{
    height:120px;
    padding-left: 0;
    margin-bottom: 52px;
}

.transport-companies li{
    padding-bottom: 31px;
}

.about-and-contacts-wrapper{
    width: 1160px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 89px;

}

.contacts .contacts-phone{
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    text-decoration: underline;
}

.about-and-contacs li{
    list-style: inherit;
}

.about-and-contacs li{
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

.device{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.about-and-contacs li::marker{
    color:#FFC700;
}

.contacts p{
    margin-top: 20px;
}


/*-----------------------------------------------SUBSCRIPTION-----------------------------------*/

.sign-to-subscription{
    background-color: #F0F0F0;
    margin: 0 auto;
}

.sign-to-subscription-wrapper{
    width:1160px;
    margin: 0 auto;
}

.sign-to-subscription h2{
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
}

.email{
    position: relative;
    border:none;
    background-image:none;
    background-color:transparent;
    box-shadow: none;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    width: 600px;
}

.form-wrapper::before{
    content: " ";
    width:600px;
    position: absolute;
    height:3px;
    top: 57px;
    left: 9px;
    background-color: rgba(0,0,0,0.1);
}

.h2-wrapper{
    width:560px;
    margin: 0;
    margin-right: auto;
}
.p-wrapper{
    width:560px;
}

.h2-p-wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 75px;
    padding-bottom: 50px;
}

.form-wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    height: 55px;
    align-items:center;
    padding-bottom: 100px;
}

.itsfree{
    position:relative;
}

.itsfree::before{
    position: absolute;
    content: " ";
    width:14px;
    height:14px;
    background: url("../img/tick-big.png") no-repeat center;
    top:8px;
    left:-30px;
}

.subscribe-button{
    width:260px;
    height:55px;
    border:none;
    border: 3px solid rgba(0, 0, 0, 0.1);
}

/*----------------------------------------------------FOOTER-----------------------------------------*/
.main-footer {
    background-color: #444444;
    color: #fff;
}

.logo-yellow{
    margin-bottom: 35px;
}

.footer-wrapper{
    width: 1160px;
    margin: 0 auto;
    padding-top:62px;
    padding-bottom: 61px;
}

.main-footer a{
    color: #fff;
}

.main-footer p{
    font-size: 16px;
    line-height: 19px;
}

.footer-contacts-address-phone{
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    margin-left: auto;
}

.footer-contacts-address-phone:hover{
    color: #FFC500;
}

.footer-list {
    display: flex;
    width: 458px;
    justify-content: space-between;
}



.rect {
    width: 80px;
    height: 7px;
    background-color:#FFC500;
}

.footer-social-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 150px;
    height: 40px;
    margin-right: auto;
}

.footer-social-list a{
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.footer-social-list .social-facebook{
    background-image: url("../img/facebook.svg");
}

.footer-social-list .social-instagram{
    background-image: url("../img/instagram.svg");
}

.footer-social-list .social-twitter{
    background-image: url("../img/twitter.svg");
}

.footer-social-list a:hover{
    background-color:#FFC700;
}

.wrapper-footer-socials{
    display: flex;
    align-items: center;
}
.footer-mini-wrapper{
    display: flex;
    height: 38px;
    margin-bottom: 49px;
}

.footer-mini-wrapper p,
.footer-mini-wrapper ul{
margin: 0;
padding: 0;
}

.footer-mini-wrapper p{
    margin-right: 114px;
}

.footer-list a{
    width: 165px;
    height: 50px;
    padding: 14px 20px;
}

.wrapper-footer-socials ul{
    margin: 0;
    padding: 0;
}

.wrapper-footer-socials .rect{
    margin-right: 425px;
}

.footer-social-list-wrapper{
    margin-right: auto;
}

/*-----------------------------------------CATALOG-----------------------------*/

.inner-header h1{
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
}

.breadcrumbs .breadcrumbs-link{
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    text-transform: none;
}


/*----------------------------------------CATALOG PRODUCTS---------------------------------*/

.catalog-products h2,
.goods-list h2 {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}

.catalog-filter-title {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

.catalog-filter-label{
    font-size: 15px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
}

.control-label {
    font-size: 16px;
    line-height: 19px;
}

.main-inner button[type="submit"]{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    border: none;
    outline: none; 
    background-color: #fff;
}
.product-card{
    position: relative;
    margin-bottom: 44px;
}

.product-card:hover::after {
    content: attr(data-title);
    position: absolute; 
    width:180px;
    height:8px;
    left: 8%; top: 40%;
    z-index: 0; 
    font-family: "Raleway", sans-serif;
    font-size: 18px; 
    line-height: 21px;
    text-align: center;
    vertical-align: baseline;
    text-transform: uppercase;
    background: #FFC700;
}

.product-card-title {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: none;
}

.product-card-price{
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}

.load-more {
    display: block;
    height: 55px;
    width: 760px;
    font-size: 16px;
    line-height: 19px;
    border: 3px solid rgba(0, 0, 0, 0.3);
}


.pagination-link{
    font-family: "Rubik", sans-serif; 
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: rgba(68, 68, 68, 0.3)
}

.pagination-link.pagination-prev,
.pagination-link.pagination-next{
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    color: #000;
}

.inner-wrapper{
    display: flex;
}

.catalog-products{
    width: 207px;
    padding-right: 68px;
}

.goods-list{
    width: 972x;
}

.inner-main-wrapper{
    width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
}

.product-list{
    width: 760px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}

.load-more{
    display: inline-block;
    width: 754px;
    height: 55px;
    text-align: center;
    border: 3px solid rgba(0, 0, 0, 0.1);
}

.product-card{
    width: 360px;
}

.product-card-image-wrapper{
    display: flex;
    justify-content: space-between;
}

.pagination{
    display: flex;
    justify-content: space-between;
    width:760px;
    height:70px;
    background-color: #EBEBEB;
    padding: 0;
}

.pagination-prev{
    padding-left: 30px;
}
.pagination-next{
    padding-right: 30px;
}