@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

html{
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    background-color: #fff;
    color: #000;
    box-sizing: border-box;
}

.main-container{
    flex-grow: 1;
}

a,
.subscribe-button{
    text-decoration: none;
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
}

.s-button{
    letter-spacing: 0.2em;
}

.user-menu a{
    font-weight: 400;
}


li {
    margin: 0;
    padding: 0;
    list-style: none;
} 

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.sub-menu,
.basket-modal-window {
    display: none;
}

.site-navigation > li:hover .sub-menu {
    display: block;
    position: absolute;
}
/*---------------HEADER--------------------------------------------*/

.user-menu-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 1075px;
    margin-bottom: 29px;
}



ul.user-menu{
    display: flex;
    align-items:center;
    padding:0;
    margin:0;
}

.ent{
    min-width:220px;
    margin-right:50px;
}

.user-name{
    min-width:220px;
}

.comp{
    min-width:130px;
    margin-right: 10px;
    font-weight: 400;
}

.bask{
    min-width:135px;
    margin-left: auto;
}

.cont{
    margin-left: auto;
    margin-right:0;
}

.navigation{
    width: 1080px;
    margin: 0 auto;
}

.site-navigation{
    display: flex;
    flex-wrap: wrap;
    padding-left:0;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    /* margin-left: 8px; */
}

.header-wrapper{
    width:1075px;
    margin-left:60px;
    margin-right: 25px;
}


.main-header {
    margin:0 auto;
    margin-top: 40px;
    height: 300px;
    background-color: #FFE17F;
}

.user-menu{
    font-size: 16px;
    line-height: 19px;
    color: #000;
}

.enter,
.compare,
.basket {
    position: relative;
    text-transform: none;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 19px;
    padding: 10px;
}

.enter{
    width: 197px;
    padding-left: 46px;
    border-radius: 20px;
}

.enter:focus, 
.compare:focus,
.basket:focus,
.navigation-link-catalog:focus,
.navigation-item-cat:focus,
.navigation-link.s-button:focus,
input[type="search"]:focus {
    outline:none;
    border-radius: 20px;    
    outline: 2px solid #AF4FFF;
    box-sizing: border-box;
}   

.navigation-link-catalog{
    padding: 14px 20px;
}

.navigation-link.s-button{
    position: relative;
}

.navigation-link.s-button:hover:after{
    content: "";
    position: absolute;
    left: 20px;
    top:40px;
    right:20px;
    height:2px;
    background-color: #000000;
}

.navigation-link.s-button:active{
    opacity: 0.3;
}

.enter:hover,
.compare:hover,
.basket:hover{
    opacity: 0.6;
}


.enter:active,
.compare:active,
.basket:active{
    opacity: 0.3;
}



.compare{   
    width:136px;
    padding-left: 35px;
    border-radius: 20px;
}

.basket{
    width:136px;
    padding-left: 44px;
    border-radius: 20px;
}



.enter::before {
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 20px;
    background: url("../img/user.svg") no-repeat center;
}


.compare::before {
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 15px;
    background: url("../img/compare.svg") no-repeat center;
}

.basket::before {
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 15px;
    background: url("../img/cart.svg") no-repeat center;
}

.form{
    align-self: center;
}

input[type="search"] {
    padding-left: 52px;
    border:none;
    background-image:none;
    background-color:transparent;
    box-shadow: none;
    background: url("../img/search.svg") no-repeat 5px;
    width: 516px;
    padding:10px;
    padding-left: 40px;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.3);
}


.navigation-link.exit{
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-transform: none;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3)
}


/*---------------------SLIDER----------------------------------------------*/
section.slider{
    margin: 0 auto;
    width: 1160px;
    margin-top: -45px;
    counter-reset: sect;
    position:relative;
    z-index:3;
}   

.slider-image-wrapper{
    width:560px;
    height:560px;
}

.phrase{
    min-height:110px;
    padding:0;
    margin:0;
    margin-bottom:19px;
}

.pharse-about{
    min-height:80px;
    margin:0;
    margin-bottom: 30px;
}

.slider-buttons{
    display:flex;
    justify-content: space-between;
    margin-bottom: 70px;
}


.ellipse.active{
    background-color:#000;
}

.ellipse-wrapper{
    display:flex;
    width: 80px;
    justify-content: space-between;
}

.ellipse{
    width:12px;
    height:12px;
    border: 2px solid #000000;
    border-radius: 50%;
}

.slider-pagination-item{
    display:flex;
}

.slider-pagination::before{
    position: absolute;
    left: 900px;
    top: -30px;
    counter-increment: sect;
    content: "0"counter(sect);
    font-family: Rubik;
    font-style: normal;
    font-weight: 800;
    font-size: 180px;
    line-height: 30px;
    color: #FFFFFF;
    z-index: -1;
}

.slider .phrase {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
}

.table-first td{
    font-size: 36px;
    font-weight: 400;
}

.table-first th{
    font-size: 16px;
    font-weight: 400;
}
/*------------------------------CATALOG-ITEMS-------------------------------------*/

.outer-wrapper{
    display: flex;
	justify-content: center;
}


.catalog-items h3{
    font-size: 18px;
    line-height: 24px;
    text-transform: none;
}

.navigation-item-cat{
    width: 273px;
    margin-right:245px;
}

.navigation-item-del{
    width:170px;
    /* margin-right:19px; */
}

.navigation-item-har{
    width: 170px;
    margin-right: 32px;
}

.catalog-items-list{
    padding: 0;
}

.catalog-items-list img {
    background-color:#FFE17F;
}



.navigation-link.s-button{
    padding: 14px 20px;
}

.catalog-items-list {
    display: flex;
    flex-wrap:wrap;
    flex-basis: 160px;
    flex-direction: row;
    justify-content: space-around;
}

.catalog-items-wrapper {
    width: 1160px;
    margin: 0 auto;
}

.catalog-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 70px;
}
/*---------------------------------------ADVANTAGES LIST--------------------------------*/
.advantages-list h3{
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
}

.modal-delivery a{
    font-size: 24px;
    display:block;
    padding-top: 37px;
    padding-bottom: 43px;
}

.modal-delivery{
    position: relative; 
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 90px;
    background-color: #F0F0F0;
    height: 100px;
    text-align: center;
}


.modal-delivery::before {
    content: " ";
    background: url("../img/Group.svg") no-repeat center;
    background-color: #FFE17F;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0;
    pointer-events: none;
}

.modal-delivery::after {
    content: " ";
    position: absolute;
    background: url("../img/Group2.png") no-repeat center;
    width: 100px;
    height: 100px;
    right: 0;
    top: 0;
    pointer-events: none;
    z-index:2;
    opacity: 0.5;
}


.modal-delivery:focus{
    outline:none;  
    outline: 5px solid #AF4FFF;
    box-sizing: border-box;
}

.modal-delivery:hover:before{
    background-color: #FFC700;
}

.modal-delivery:hover:after{
    opacity: 1;
}

.modal-delivery a:active,
.modal-delivery:active:before{
    opacity: 0.3;
}

.wrapper-advantages-list {
    width: 1160px;
    margin: 0 auto;
}

.tabs-of-advantages{
    width: 170px;
    margin-right: 116px;
    position:relative;
}

.tabs-of-advantages:after{
    content: ' ';
    position: absolute;
    width: 7px;
    height:320px;
    left: 277px;
    top:-50px;
    background-color: #000;

    
}

.list-of-advantages{
    margin:0;
    padding:0;
}

.list-of-advantages li{
    position:relative;
    margin-bottom:34px;
    padding-top:10px;
    padding-bottom:10px;
    width: 160px;
    text-align:center;
}

.list-of-advantages li::before{
    content:' ';
    position: absolute;
    width: 160px;
    height: 8px;
    background-color: #FFC700;
    top: 21px;
    left: 0;
    z-index: -2;
}

.list-of-advantages li a:focus:before{
    content:' ';
    position: absolute;
    width: 160px;   
    height: 8px;
    background-color:#AF4FFF;
    top: 21px;
    left: 0;
    z-index: -1;
}

.list-of-advantages li:hover:before{
    content:' ';
    position: absolute;
    width: 160px;   
    height: 50px;
    background-color: #FFC700;
    top: 0;
    left: 0;
}

.list-of-advantages li:active a{
    color:#FFE17F;
}

.list-of-advantages li:active:before{
    content: '';
    position:absolute;
    width: 280px;
    height: 50px;
    background-color: #000;
}

.adv-list-wrapper{
    display:flex;
    margin-bottom: 90px;
}

.delivery {
    width: 500px;
} 

#delivery{
    position:relative;
    margin-left: 120px;
}

#delivery::after{
    content: " ";
    position:absolute;
    width:260px;
    height: 240px;
    background: url("../img/illustration-delivery1.png") no-repeat center;
    top:10px;
    right:-300px;
}

/*------------------------------------ABOUT AND CONTACTS-----------------------------*/
.about-and-contacs h2{
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
}

.about-us, 
.contacts {
    width: 560px;
    height: 562px;
}

.about-us{
    margin-right: 40px;
}

.rect-blak{
    width: 80px;
    height: 7px;
    background-color: #000;
    margin-bottom: 42px;
}

.about-us-info-wrapper{
    height: 202px;
}

.about-us h2{
    margin-bottom: 42px;
}

.working-time{
    margin-bottom: 50px;
}

.transport-companies{
    height:120px;
    padding-left: 0;
    margin-bottom: 52px;
}

.transport-companies li{
    padding-bottom: 31px;
}

.about-and-contacts-wrapper{
    width: 1160px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 89px;

}

.contacts .contacts-phone{
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    text-decoration: underline;
}

.about-and-contacs li{
    list-style: inherit;
}

.about-and-contacs li{
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

.device{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.about-and-contacs li::marker{
    color:#FFC700;
}

.contacts p{
    margin-top: 20px;
}


/*-----------------------------------------------SUBSCRIPTION-----------------------------------*/

.sign-to-subscription{
    background-color: #F0F0F0;
    margin: 0 auto;
}

.sign-to-subscription-wrapper{
    width:1160px;
    margin: 0 auto;
}

.sign-to-subscription h2{
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
}

.email{
    position: relative;
    border:none;
    background-image:none;
    background-color:transparent;
    box-shadow: none;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    width: 600px;
}

.form-wrapper::before{
    content: " ";
    width:600px;
    position: absolute;
    height:3px;
    top: 57px;
    left: 9px;
    background-color: rgba(0,0,0,0.1);
}

.h2-wrapper{
    width:560px;
    margin: 0;
    margin-right: auto;
}
.p-wrapper{
    width:560px;
}

.h2-p-wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 75px;
    padding-bottom: 50px;
}

.form-wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    height: 55px;
    align-items:center;
    padding-bottom: 100px;
}

.itsfree{
    position:relative;
}

.itsfree::before{
    position: absolute;
    content: " ";
    width:14px;
    height:14px;
    background: url("../img/tick-big.png") no-repeat center;
    top:8px;
    left:-30px;
}

.subscribe-button{
    width:260px;
    height:55px;
    border:none;
    border: 3px solid rgba(0, 0, 0, 0.1);
}

/*----------------------------------------------------FOOTER-----------------------------------------*/
.main-footer {
    background-color: #444444;
    color: #fff;
}

.logo-yellow{
    margin-bottom: 35px;
}

.footer-wrapper{
    width: 1160px;
    margin: 0 auto;
    padding-top:62px;
    padding-bottom: 61px;
    display: flex;
    flex-direction: column;
}

.main-footer a{
    color: #fff;
}

.main-footer p{
    font-size: 16px;
    line-height: 19px;
}

.footer-contacts-address-phone{
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    margin-left: auto;
}

.footer-contacts-address-phone:hover{
    color: #FFC500;
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    width: 515px;
    justify-content: space-between;
}


.rect {
    width: 80px;
    height: 7px;
    background-color:#FFC500;
}

.footer-social-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    height: 40px;
    margin-right: auto;
}

.footer-social-list a{
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.footer-social-list .social-facebook{
    background-image: url("../img/facebook.svg");
}

.footer-social-list .social-instagram{
    background-image: url("../img/instagram.svg");
}

.footer-social-list .social-twitter{
    background-image: url("../img/twitter.svg");
}

.footer-social-list a:hover{
    background-color:#FFC700;
}

.wrapper-footer-socials{
    display: flex;
    align-items: center;
    position: relative;
}

.wrapper-footer-socials::before{
    content: " ";
    position: absolute;
    width: 80px;
    height: 8px;
    background-color: #FFC700;
    top: 15px;
    left: 10px;
}

.footer-mini-wrapper{
    display: flex;
    justify-content: space-between;
    height: 38px;
    margin-bottom: 49px;
}

.footer-mini-wrapper p,
.footer-mini-wrapper ul{
margin: 0;
padding: 0;
}

.footer-mini-wrapper p{
    margin-right: 114px;
}

.footer-list a{
    width: 165px;
    height: 50px;
    padding: 14px 20px;
}

.wrapper-footer-socials ul{
    margin: 0;
    padding: 0;
}

.wrapper-footer-socials .rect{
    margin-right: 425px;
}

.footer-social-list-wrapper{
    width: 515px;
    margin-left: 280px;
}

.footer-text-container{
    width:280px;
}

.footer-text-container p{
    margin: 0;
}
.footer-tel-container{
    width: 280px;
    text-align: right;
}

.about-text-container{
    width: 280px;
    text-align: right;
}
/*-----------------------------------------CATALOG-----------------------------*/

.navigation-link.exit{
    margin-left: 15px;
    margin-right: 20px;
}

.ext{
    margin-right: 10px;
}

.user-name{
    margin-right: 20px;
}

.inner-header h1{
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
}

.inner-header{
    width: 1160px;
    margin: 0 auto;
}

.breadcrumbs .breadcrumbs-link{
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    text-transform: none;
    padding-right: 35px;
}

.inner-header-title{
    margin-bottom: 14px;
    margin-left: 60px;
}

.breadcrumbs{
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    padding-left: 0;
    width: 1040px;
}

.goods-list-wrapper h2{
    margin-left: 70px;
    margin-right: 60px;
}

.sorting-type{
    margin-right: auto;
}

.goods-list-container{
    display: flex;
    width: 760px;
    margin-left: 76px;
}

.goods-list-container h2{
    margin-left: 0;
}

.goods-list-wrapper{
    height: 70px;
    background-color: #EBEBEB;
    display: flex;
    align-items: center;
}
/*----------------------------------------CATALOG PRODUCTS---------------------------------*/

.catalog-products{
    display:flex;
    flex-direction: column;
    flex-basis: 975px;
    background-color:#EBEBEB;
}

.catalog-products h2,
.goods-list h2 {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.catalog-filter-header{
    height: 70px;
    background-color: #DCDCDC;
}

.catalog-filter{
    width: 328px;
    margin-left: auto;
}

.wrapper-cat-filter{
    width: 328px;
    margin-left: auto;
}

.catalog-filter h2{
    padding: 25px 150px 25px 0px;
    margin: 0;
    background-color: #DCDCDC;
}

.catalog-filter-title {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

.catalog-filter-label{
    font-size: 15px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
}

.control-label {
    font-size: 16px;
    line-height: 19px;
}

.main-inner button[type="submit"]{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    border: none;
    outline: none; 
    background-color: #fff;
}
.product-card{
    position: relative;
    width: 360px;
}

.product-card:hover::after {
    content: attr(data-title);
    position: absolute; 
    width:180px;
    height:8px;
    left: 8%; top: 40%;
    z-index: 0; 
    font-family: "Raleway", sans-serif;
    font-size: 18px; 
    line-height: 21px;
    text-align: center;
    vertical-align: baseline;
    text-transform: uppercase;
    background: #FFC700;
}

.product-card-title {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: none;
}

.product-card-price{
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}

.load-more {
    display: block;
    height: 55px;
    width: 760px;
    font-size: 16px;
    line-height: 19px;
    border: 3px solid rgba(0, 0, 0, 0.3);
}


.pagination-link{
    font-family: "Rubik", sans-serif; 
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: rgba(68, 68, 68, 0.3)
}

.pagination-link.pagination-prev,
.pagination-link.pagination-next{
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    color: #000;
}


.goods-list{
    display:flex;
    flex-basis: 1475px;
    flex-direction: column;
}

.product-list-wrapper{
    margin-left: 76px;
    
}

.product-list{
    width: 760px;
    display: grid;
    grid-template-columns: 360px 360px;
    gap: 40px;
    padding: 0;
}

.load-more{
    display: flex;
    width: 754px;
    height: 55px;
    align-items:center;
    justify-content: center;
    border: 3px solid rgba(0, 0, 0, 0.1);
}


.product-card-image-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.product-card-image-wrapper h3{
    margin: 0;
}

.pagination{
    display: flex;
    align-items:center;
    width:760px;
    height:70px;
    background-color: #EBEBEB;
    padding: 0;
}

.pagination-prev{
    padding-left: 30px;
}
.pagination-next{
    padding-right: 30px;
}

.pagination ul{
    display: flex;
    justify-content: space-between;
    margin-left: 190px;
    width: 170px;
    padding: 0;
}

.pagination-item-last{
    margin-left: auto;
}